<!doctype html>
<html ng-app="app1" ng-init="persons={'fname':'senthil', 'lname':'kumar'}">

<head >

<script src="js/angular.min.js" > </script>
<script src="js/file1.js" > </script>

</head>

<body>

Hi there.

<hr>
<div ng-controller="cntrl1">
This Section is for Names <br>
     <input type="text" ng-model='first' />
     <input type="text" ng-model='second' />

    <button ng-click="calculate()"> Concatenate </button>

    <br>
    {{third}}

    <br>The Full Name value is <span data-ng-bind="first"> </span> <span data-ng-bind="second"> </span>
     <br>
     <p> Your Name by Expression is {{ (first | uppercase) + " " + second}} </p>

</div>

<hr>
<div ng-controller="cntrl2">
This Section is for Numbers <br>
     <input type="text" ng-model='firstvalue' />
     <input type="text" ng-model='secondvalue' />

    <button ng-click="calculate()"> Calculate </button>

    <br>
    {{third}}


     <br>
     <p> Sum is {{  firstvalue + secondvalue  }} </p>
     <p> Product is {{  firstvalue * secondvalue  }} </p>


</div>

<hr>
<div ng-controller="cntrl3">
This Section is to test Switches
Enter number : <input type='text' ng-model='number' />

  <div ng-switch="number" >
      <p ng-switch-when="1"> Hi </p>
      <p ng-switch-when="2"> Hello </p>

  </div>

</div>


<hr>
<div ng-controller="cntrl4">
This Section is to test Loops and Filters

<table border =1 >
   <tr> <td>  Name </td>  <td>  Price </td> </tr>
   <tr ng-repeat="x in books | orderBy:'price'"> <td >
       {{ x.name}} </td> <td>  {{ x.price}} </td> </tr>
</table>


</body>

</html>
